.topbar-wrapper {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-color);
}

.topbar-wrapper p a {
    font-weight: 500px;
    color: #bababa;
}

.topbar-content {
    display: flex;
    justify-content: space-between;
}

.topbar-link a span {
    color: var(--bs-secondary);
}

.icon-wrap {
    display: flex;
    justify-content: flex-end;
}

.icon-wrap a {
    margin-right: 10px;
}

#note {
    width: 500px;
    overflow: hidden;
}

#note small {
    position: relative;
    display: inline-block;
    animation: mymove 7s infinite;
    animation-timing-function: all;
}

@keyframes mymove {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

.navbar-wrapper,
.hero-wrapper,
.about-wrapper,
.services-wrapper,
.project-wrapper,
.blog-wrapper {
    font-family: 'Inter', sans-serif;
}

.navbar .navbar-nav .nav-link {
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500 !important;
    outline: none;
}

.phone-icon {
    transform: rotate(90deg);
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    position: absolute;
    inset: 0;
    content: '';
    background-color: rgba(0, 0, 0, .6);
}

.carousel-indicators [data-bs-target] {
    background-color: var(--primary-color);
    height: unset;
    border: unset;
    aspect-ratio: 1;
    border-radius: 100%;
    margin: 10px;
}

.carousel-indicators [data-bs-target]:hover {
    background-color: var(--secondary-color);
}

.carousel-control-prev {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--primary-color);
    border-radius: 0 50px 50px 0;
    opacity: 1;
}

.carousel-control-next {
    width: 90px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--primary-color);
    border-radius: 50px 0 0 50px;
    opacity: 1;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: var(--secondary-color);
}

.carousel-content-btn1 {
    border: unset;
    background-color: var(--secondary-color);
}

.carousel-content-btn1:hover {
    background-color: var(--primary-color);
}

.carousel-content-btn2 {
    border: unset;
}

.carousel-content-btn2:hover {
    background-color: var(--secondary-color);
}

.fact-check-wrapper {
    font-family: "Saira", sans-serif;
}

.services-item {
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
    transition: .4s;
}

.services-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    border-radius: 10px 10px 10px 10px;
    background: rgba(3, 43, 243, 0.8);
    transition: .5s;
}

.services-item:hover .services-content-icon {
    position: relative;
    z-index: 2;
}

.services-item:hover .services-content::after {
    height: 100%;
    opacity: 1;
}

.services-item:hover .services-content-icon p {
    color: #fff;
}

.services-item:hover .services-content-icon i {
    color: var(--secondary-color) !important;
}

.project-img {
    position: relative;
    padding: 15px;
}

.project-img img {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.project-item:hover .project-img img {
    transform: scale(1.1);
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-img::after {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: .5s;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 2
}

.project-content a {
    display: inline-block;
    padding: 20px 25px;
    background: #1842b6;
    border-radius: 10px;
}

.project-item:hover .project-content {
    opacity: 1;
    transition: .5s;
}

.project-item:hover .project-img::before,
.project-item:hover .project-img::after {
    opacity: 0;
}

.blog-item .blog-btn {
    z-index: 2;
}

.blog-btn .blog-btn-icon {
    height: 50px;
    position: relative;
    overflow: hidden;
}

.blog-btn-icon .blog-icon-2 {
    display: flex;
    position: absolute;
    top: 6px;
    left: -140px;

}

.blog-btn-icon:hover .blog-icon-2 {
    transition: 1s;
    left: 0;
    top: 6px;
    padding-bottom: 5px;
}

.blog-icon-1 {
    position: relative;
    top: -4px;
}

.blog-btn-icon:hover .blog-icon-1 {
    top: 0;
    right: -140px;
    transition: 1s;
}

.blog-content img {
    border: 2px solid white;
}


.team-item {
    border-top: 30px solid var(--secondary-color) !important;
    background: rgba(239, 239, 241, 0.8);
}

.team-content::before {
    height: 200px;
    display: block;
    content: "";
    position: relative;
    top: -101px;
    background: var(--secondary-color);
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    padding: 60px;
    opacity: 1;
}

.team-img-icon {
    position: relative;
    margin-top: -200px;
    padding: 30px;
    padding-bottom: 0;
}

.team-img {
    border: 15px solid #fff;
}

.team-img img {
    border: 10px solid var(--secondary-color);
    transition: .5s;
}

.team-item:hover h4 {
    color: var(--primary-color);
    transition: .5s;
}

.team-item:hover .team-img img {
    transform: scale(1.05);
    border: 10px solid var(--secondary-color);
}

.btn-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 38px;
    height: 38px;
}

.swiper-content {
    overflow-x: clip;
}

.swiper.team-carousel {
    margin-top: 50px;
    overflow: visible !important;
}

.swiper-wrapper {
    overflow-x: hidden;
}


.swiper-button-prev {
    border-radius: 50%;
    background: var(--secondary-color);
    transition: .5s;
    top: -75px !important;
    left: 85% !important;
}

.swiper-button-prev svg {
    visibility: hidden;
    width: 56px !important;
    height: 56px !important;
}

.swiper-button-next {
    border-radius: 50%;
    background: var(--secondary-color);
    transition: .5s;
    top: -75px !important;
    right: 5% !important;
    color: white;
}

.swiper-button-next svg {
    visibility: hidden;
    width: 56px !important;
    height: 56px !important;
}

.swiper-button-prev::after {
    content: "<";
    color: white !important;
    position: absolute;
    margin-top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: normal;
}

.swiper-button-next::after {
    color: white !important;
    content: ">";
    position: absolute;
    margin-top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: normal;
}

/* 
.team-carousel .swiper-button-prev:hover,
.team-carousel .swiper-button-next:hover {
    background: var(--primary-color);
    color: #fff;
} */


@media (max-width: 992px) {
    .team-carousel {
        margin-top: 3rem;
    }

    .team-carousel .owl-nav {
        top: -85px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        margin-left: -15px;
    }
}